body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #111;
}

.viewer {
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
}

.viewer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
