#product-image {
    width: auto;
    height: auto;
    max-width: 90vw;   /* screen width ka 90% */
    max-height: 70vh;  /* screen height ka 70% */
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
