body {
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}
