html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.viewer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; /* optional */
    overflow: hidden;
}

.viewer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  /* full screen zoom nahi hoga */
}
