body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

#image {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
}
