body {
    margin: 0;
    padding: 0;
    background: #000; /* gallery jaisa black background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swiper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: auto;
    height: 100vh;  /* <- PERFECT GALLERY SIZE (best for mobile) */
    object-fit: contain;
    border-radius: 2px;
}
