body {
  margin: 0;
  background: #000;
}

.gallery-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.gallery-container img {
  width: 95vw;        /* Screen ke hisaab se perfect */
  height: auto;       /* Perfect aspect ratio */
  object-fit: contain;
  touch-action: pan-y;
}
